---
layout: page
title: Members
---

<!--<article>
  <h4>
<ul style="list-style-type:none">
  <li class="member"> <a href="mailto:kayoko.kimura@gmail.com">Kayoko Kimura</a> (Treasurer) </li>
  <li class="member"> Roman Lynch </li>
  <li class="member"> <a href="mailto:ikwesse@iastate.edu">Insook Wessels</a> (President) </li>
  <li class="member"> <a href="mailto:j.ezeguzman@gmail.com">J. Ezequiel Guzman</a> (VPM) </li>
  <li class="member"> <a href="mailto:cecilia.cabrerahdz@gmail.com">Cecilia Cabrera-Hernandez</a> (VPE) </li>
  <li class="member"> <a href="mailto:marisabelitaleon@yahoo.com">Maria Isabel Lyon-Fiestas</a> (Secretary) </li>
  <li class="member"> <a href="mailto:soham.rupam@gmail.com">Soham Pal</a> (VPPR) </li>
  <li class="member"> <a href="mailto:vet.bhandari@gmail.com">Mahesh Bhandari</a> (SAA) </li>
  <li class="member"> Phil Barutha </li>
  <li class="member"> Doris Santiago </li>
  <li class="member"> Paul Valencia </li>
  <li class="member"> Ahmad Al-Kofahi </li>
  <li class="member"> Ivan Castro </li>
  <li class="member"> Ilker Karaca </li>
  <li class="member"> Susmita Bhandari </li>
  <li class="member"> Dhenusha Shrestha </li>
  <li class="member"> Gaurav Rawal </li>
  <li class="member"> Sofia Ingersoll </li>
</ul>
  </h4>
</article>-->
<ul>
{% for member in site.data.members %}
  <li>
      {{ member.name }}
      {% if member.post != null %}
        {{ member.post }} </br>
        <a href="mailto:{{ member.email }}">{{ member.email }}</a>
      {% endif %}
  </li>
{% endfor %}
</ul>
