<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="https://www.toastmasters.org/">
    <img src="{{ site.url }}/assets/media/bluelogo.svg" height="200" class="img-circle"/>
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}


<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if site.author.facebook%}
		<li>
			<a class="btn btn-default" href="https://www.facebook.com/groups/{{ site.author.facebook }}">
				<i class="fa fa-facebook fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.github %}
		<li>
			<a class="btn btn-default" href="https://github.com/{{ site.author.github }}/{{ site.author.github }}.github.io">
				<i class="fa fa-github fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a class="btn btn-default" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
	</ul>
</div>

<footer class="sidebar-footer" role="banner">
	<h5>
		<p>
		<ul list-style-type:none>
			<li> Time: 2 PM - 4 PM (CST) </li>
			<li> Day: 2<sup>nd</sup> and 4<sup>th</sup> Sundays of each month </li>
			<li> Venue: Ames Public Library (PEO Room), 515 Douglas Ave, Ames, IA 50010 </li>
		</ul>
		</p>
	</h5>
</footer>
<!-- sidebar.html end -->
